## Tuple

- > its a immutable object
- > it is indexed, ordred, and allows duplicate elements
- >it is faster than list
- >it is heterogeneous element
- >`tuple()` function canbe used to convert sequesnce to tuple
- >represnted by ``()``
- >It can be changed or convert in to list if needed and vice versa


- only two function :
        --- count()
        --- index()


- ` Where indexing is possible only then the slicing is possible hwre its is but not in set`

In [1]:
x = (1,2,3,'khateeb')
print(x, type(x))

(1, 2, 3, 'khateeb') <class 'tuple'>

In [2]:
# Example which work by default to create tuple:


#data packing:
y = "Hello", "World", "of", "Tuple" 
print(y, type(y))

#Data unpacking

var1, var2, var3, var4 = y

('Hello', 'World', 'of', 'Tuple') <class 'tuple'>

In [3]:
var1

'Hello'

In [4]:
a,*b= y
print(*b)

World of Tuple

In [5]:
for i in y:
    print(i)

Hello
World
of
Tuple

In [6]:
y[:2] # slicing is pssible

('Hello', 'World')

In [7]:
y.count('oof')

0

In [8]:
a = 1,1,1,1,2,3,2,2,2,4,1,7,8,8,9,9,0,3,3,3,6
print(a, type(a))

print(a.count(6))
print(a.count(1))

(1, 1, 1, 1, 2, 3, 2, 2, 2, 4, 1, 7, 8, 8, 9, 9, 0, 3, 3, 3, 6) <class 'tuple'>
1
5

In [9]:
print(a.index(4))

9

In [11]:
b = 13,4,5,677,7,7,12,56,78,98,1,10,23,35,67
print(b, type(b))

sumb = sum(b)
avg = sumb/len(b)
print(avg)

(13, 4, 5, 677, 7, 7, 12, 56, 78, 98, 1, 10, 23, 35, 67) <class 'tuple'>
72.86666666666666

## Set


- > very different from others
- >Unordered (No Sequencing)
- >UnIndexed
- >No Duplicate elements can be stored
- >can only store IMMUTABLE element : it can not store set or dict or List
                                    > means it can store  , tuple , integers or strings
- >It is Mutable

- >Represented by `{ }`
- >`set()` function can be used to connvert sequence

In [13]:
x= {1,2,3,4,5,6,6,7,7,8,9,9}
print(x)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [18]:
x = set('Maddam') # it will break and store only unique value of the string
print(x)

{'m', 'a', 'd', 'M'}

In [20]:
# to create set the duplicates can be removed:
y = {'String, 'Number', 1209, [1,2,3]}

SyntaxError: invalid syntax (1141545775.py, line 2)

In [24]:
a= {12,3,12,23,34,34,56,34,67,34,23,34,12,3,4}
print(a)
for i in a:
    print(i)

{34, 67, 3, 4, 23, 56, 12}
34
67
3
4
23
56
12

In [26]:
suma = sum(a)
print(suma)

199

- ## Noslicing , No Indexing
- ##  Loop can be run in this
- ## (Loop is value based not indexed based)

SyntaxError: invalid syntax (1979928243.py, line 3)

In [30]:
x = {1,2,3,4}
y = {3,4,5,6}
z = {1,2,7,8}

- ### Functions:
    - >union() aka x | y
    - >intesection aka x & y
    - >differnce aka x-y
    - >Suerset `x > y `

In [33]:
x.union(y)

{1, 2, 3, 4, 5, 6}

In [34]:
x.union(z)

{1, 2, 3, 4, 7, 8}

In [35]:
x | y | z

{1, 2, 3, 4, 5, 6, 7, 8}

In [40]:
x & y
x & y & z # will result in black when there is no common as intersection finds common

set()

In [41]:
x - y # x.difference(y)

{1, 2}

In [42]:
y - x

{5, 6}

In [43]:
x > y

False

In [46]:
x > {1,2,3} # x is Superset of {1,2,3,}

#also can be used as
x.issuperset(x)

True

In [45]:
y < {1,2,3,4,5,6} # y is subset of {1,2,3,4,5,6}


# Also can be used as

y.issubset(y)

True

In [47]:
x ^ y #x.symmetric_difference(y)
        #Unique of x or unique eleents of y
        #leaving the intersecting values and print all other values

{1, 2, 5, 6}

In [49]:
# we can add the value by using `add()` to a set
# we can use update() to add multiple values in the set

x.add(12)
print(x)
x.update([12,13,14,15,5])

{1, 2, 3, 4, 12}

In [ ]:
x.remove(12) # it will remove only if it fidns the value or ele it will giev the error
x.discard(13) # it is mch safer than remove if it dont find it will not give error

In [54]:
print(x)
x.pop() #it will pick the 1st element every time
        #the value will be removed from the original set aswell
print(x)

{4, 5, 14, 15}
{5, 14, 15}